@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Prompt:wght@100;400;700&display=swap');

:root {
    --body-color: #000000;
    --nav-color: #202020;
    --side-nav: #333030;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    --blue: #3498db;
    --dark-blue: #2980b9;
    --red: #e74c3c;
    --dark-red: #c0392b;
    --black: #333;
    --white: #fff;
    --light-bg: #eee;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

nav .nav-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .brand-nav a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: var(--text-color);
}

nav .nav-bar .brand-nav a span {
    background-color: #FF8000;
    color: var(--nav-color);
    padding: 5px;
    border-radius: 12px;
}

.menu .logo-toggle {
    display: none;
}

nav .nav-bar .nav-list {
    display: flex;
    align-items: center;
}

nav .nav-bar .nav-list .nav-items {
    list-style: none;
    margin: 0 5px;
}

nav .nav-bar .nav-list .nav-items a {
    position: relative;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    padding: 10px;
}

nav .nav-bar .nav-list .nav-items .active-link {
    color: #FF8000;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #FF8000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav .nav-bar .nav-list .nav-items a:hover,
nav .nav-bar .nav-list .nav-items a:hover::before {
    color: #FF8000;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

nav .login i {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}

.account-box {
    position: absolute;
    top: 120%;
    right: -10%;
    width: 300px;
    box-shadow: green;
    border-radius: .5rem;
    padding: 20px 40px;
    text-align: center;
    border-radius: .5rem;
    border: red;
    background-color: #fff;
    display: none;
    animation: fadeIn .2s linear;
}

.account-box.active {
    display: inline-block;
}

.header .flex .account-box p {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 1.5rem;
}

.account-box p span {
    color: #FF8000;
}

.account-box .acoes {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.account-box .delete-btn {
    background-color: #FF8000;
    color: #000000;
    padding: 5px;
    border-radius: 12px;
}

.account-box div a {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

.account-box div a:hover {
    text-decoration: underline;
}

main {
    background-color: #000000;
    min-height: 100vh;
    padding: 100px 30px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
}

main h2 {
    color: #fff;
}

.empty {
    padding: 1.5rem;
    text-align: center;
    border: red;
    background-color: #FF8000;
    color: #fff;
    font-size: 1.5rem;
}

.dashboard .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    width: 100%;
    margin: 50px auto;
    align-items: flex-start;
}

.dashboard .box-container .box {
    border-radius: .5rem;
    padding: 20px 40px;
    background-color: #FF8000;
    box-shadow: 10px 10px #c46200;
    text-align: center;
}

.dashboard .box-container .box h3 {
    font-size: 5rem;
    color: #000000;
}

.dashboard .box-container .box p {
    padding: 1.5rem;
    color: #000000;
    font-size: 1.5rem;
}

.messages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    margin: 50px auto;
    width: 100%;
    align-items: flex-start;
}

.messages .box-container .box {
    background-color: #FF8000;
    padding: 1rem;
    box-shadow: 10px 10px #c46200;
    border-radius: .5rem;
    text-align: center;
}

.messages .box-container .box p {
    font-size: 1rem;
    color: #000000;
    font-weight: 700;
    padding: 1.2rem;
}

.info {
    margin-bottom: 15px;
}

.messages .box-container .box p span {
    color: blue;
}

.messages .box-container .box .delete-btn {
    text-decoration: none;
    padding: 10px;
    background-color: #800000;
    border-radius: 10px;
    color: #fff;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 5% 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: #FF8000;
}

.update-btn {
    text-decoration: none;
    padding: 5px;
    background-color: #1732ca;
    border-radius: 10px;
    color: #fff;
}

.delete-btn {
    text-decoration: none;
    padding: 5px;
    background-color: #800000;
    border-radius: 10px;
    color: #fff;
}

.wrapper {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper h2 {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.wrapper h2::before {
    content: '';
    position: absolute;
    left: 90px;
    bottom: 0;
    height: 3px;
    width: 180px;
    border-radius: 12px;
    background: #4070f4;
    text-align: center;
}

.wrapper form {
    margin-top: 30px;
}

.wrapper form .input-box {
    height: 52px;
    margin-top: 18px;
}

form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #4070f4;
}

form h3 {
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.input-box.button input {
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #4070f4;
    cursor: pointer;
    margin-bottom: 0;
}

.input-box.button input:hover {
    background: #0e4bf1;
}

form .text h3 {
    color: #333;
    width: 100%;
    text-align: center;
}

form .text h3 a {
    color: #4070f4;
    text-decoration: none;
}

form .text h3 a:hover {
    text-decoration: underline;
}

.treinos {
    display: flex;
    gap: 1.3rem;
    margin: 50px auto;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #FF8000;
    padding: 1rem;
    box-shadow: 10px 10px #c46200;
    border-radius: .5rem;
    width: 400px;
}

.infos {
    padding: 0.7rem 0;
    font-size: 1rem;
    color: black;
    font-weight: 700;
}

.infos p {
    color: #0e4bf1;
}

iframe {
    width: 100%;
}

.opc {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .btn {
        text-align: center;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

@media only screen and (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active-navbar .menu {
        left: -0%;
    }

    nav.active-navbar .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-list {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-list .nav-items a {
        display: block;
        margin-top: 20px;
    }

    main {
        padding: 100px 40px 0px;
    }

    main h1 {
        font-size: 3rem;
    }

    .account-box.active {
        right: 3%;
    }

    .messages .box-container {
        flex-direction: column;
    }

    .treinos {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(1rem);
        opacity: .2s;
    }
}

/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
    --purple: #8e44ad;
    --red: #c0392b;
    --orange: #f39c12;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --light-white: #ccc;
    --light-bg: #f5f5f5;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection {
    background-color: var(--purple);
    color: var(--white);
}

*::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--purple);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--light-bg);
}

section {
    padding: 3rem 2rem;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: var(--black);
    font-size: 4rem;
}

.empty {
    padding: 1.5rem;
    text-align: center;
    border: var(--border);
    background-color: var(--white);
    color: var(--red);
    font-size: 2rem;
}

.message {
    position: sticky;
    top: 0;
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--light-bg);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    gap: 1.5rem;
}

.message span {
    font-size: 2rem;
    color: var(--black);
}

.message i {
    cursor: pointer;
    color: var(--red);
    font-size: 2.5rem;
}

.message i:hover {
    transform: rotate(90deg);
}

.btn,
.option-btn,
.delete-btn,
.white-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    border-radius: .5rem;
    text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
    background-color: var(--black);
}

.white-btn,
.btn {
    background-color: var(--purple);
}

.option-btn {
    background-color: var(--orange);
}

.delete-btn {
    background-color: var(--red);
}

.white-btn:hover {
    background-color: var(--white);
    color: var(--black);
}

@keyframes fadeIn {
    0% {
        transform: translateY(1rem);
        opacity: .2s;
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}

.header .flex {
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.header .flex .logo {
    font-size: 2.5rem;
    color: var(--black);
}

.header .flex .logo span {
    color: var(--purple);
}

.header .flex .navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--black);
}

.header .flex .navbar a:hover {
    color: var(--purple);
}

.header .flex .icons div {
    margin-left: 1.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
}

.header .flex .icons div:hover {
    color: var(--purple);
}

.header .flex .account-box {
    position: absolute;
    top: 120%;
    right: 2rem;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    border: var(--border);
    background-color: var(--white);
    display: none;
    animation: fadeIn .2s linear;
}

.header .flex .account-box.active {
    display: inline-block;
}

.header .flex .account-box p {
    font-size: 2rem;
    color: var(--light-color);
    margin-bottom: 1.5rem;
}

.header .flex .account-box p span {
    color: var(--purple);
}

.header .flex .account-box .delete-btn {
    margin-top: 0;
}

.header .flex .account-box div {
    margin-top: 1.5rem;
    font-size: 2rem;
    color: var(--light-color);
}

.header .flex .account-box div a {
    color: var(--orange);
}

.header .flex .account-box div a:hover {
    text-decoration: underline;
}

#menu-btn {
    display: none;
}

.dashboard .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
}

.dashboard .box-container .box {
    border-radius: .5rem;
    padding: 2rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
}

.dashboard .box-container .box h3 {
    font-size: 5rem;
    color: var(--black);
}

.dashboard .box-container .box p {
    margin-top: 1.5rem;
    padding: 1.5rem;
    background-color: var(--light-bg);
    color: var(--purple);
    font-size: 2rem;
    border-radius: .5rem;
    border: var(--border);
}

.add-products form {
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border: var(--border);
    max-width: 50rem;
    margin: 0 auto;
}

.add-products form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 1.5rem;
}

.add-products form .box {
    width: 100%;
    background-color: var(--light-bg);
    border-radius: .5rem;
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    color: var(--black);
    font-size: 1.8rem;
    border: var(--border);
}

.show-products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
}

.show-products {
    padding-top: 0;
}

.show-products .box-container .box {
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    background-color: var(--white);
}

.show-products .box-container .box img {
    height: 30rem;
}

.show-products .box-container .box .name {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--black);
}

.show-products .box-container .box .price {
    padding: 1rem 0;
    font-size: 2.5rem;
    color: var(--red);
}

.edit-product-form {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1200;
    width: 100%;
}

.edit-product-form form {
    width: 50rem;
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    background-color: var(--white);
}

.edit-product-form form img {
    height: 25rem;
    margin-bottom: 1rem;
}

.edit-product-form form .box {
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    border: var(--border);
    border-radius: .5rem;
    background-color: var(--light-bg);
    font-size: 1.8rem;
    color: var(--black);
    width: 100%;
}

.orders .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
}

.orders .box-container .box {
    background-color: var(--white);
    padding: 2rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.orders .box-container .box p {
    padding-bottom: 1rem;
    font-size: 2rem;
    color: var(--light-color);
}

.orders .box-container .box p span {
    color: var(--purple);
}

.orders .box-container .box form {
    text-align: center;
}

.orders .box-container .box form select {
    border-radius: .5rem;
    margin: .5rem 0;
    width: 100%;
    background-color: var(--light-bg);
    border: var(--border);
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
}

.users .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    justify-content: center;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
}

.users .box-container .box {
    background-color: var(--white);
    padding: 2rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
}

.users .box-container .box p {
    padding-bottom: 1.5rem;
    font-size: 2rem;
    color: var(--light-color);
}

.users .box-container .box p span {
    color: var(--purple);
}

.users .box-container .box .delete-btn {
    margin-top: 0;
}

.messages .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    justify-content: center;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
}

.messages .box-container .box {
    background-color: var(--white);
    padding: 2rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.messages .box-container .box p {
    padding-bottom: 1.5rem;
    font-size: 2rem;
    color: var(--light-color);
    line-height: 1.5;
}

.messages .box-container .box p span {
    color: var(--purple);
}

.messages .box-container .box .delete-btn {
    margin-top: 0;
}

/* media queries  */

/* @media (max-width:991px) {

    html {
        font-size: 55%;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a {
        margin: 2rem;
        display: block;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .title {
        font-size: 3rem;
    }

} */